

<!Doctype html>
<html>
	<head>
		<title>login</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap -->
		
	</head>
	<body>
		<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<h1>upload to win </h1>
			<h3>Login </h3>
			<form method = "post">
				{% csrf_token %}
					<div>
						<label for="username">Username: </label>
						<input id="username" type="text" name="username" value="{{username}}">
					</div>
					<div>
						<label for = "password">Password: </label>
						<input id ="password" type="password" name="password" value="{{password}}">
					</div>
					<input type="submit" value="Login" class="btn btn-success">
			</form>
		</div>
		</div>
	</body>
</html>
